@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* Add this in your global CSS or a relevant CSS module */

.chat-start .chat-bubble {
  background-color: #00e4e3; /* light gray */
  color: #000;
}

.chat-end .chat-bubble {
  background-color: #a060ff; /* light green */
  color: #000;
}

.chat-bubble {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.chat-footer {
  text-align: right;
  margin-top: 5px;
}